.header {
    height: 200px;
    background: url('./02-hero-bg.jpg') no-repeat center center;
    
}

.header-nav {
    display: flex;
    background-color: teal;
    justify-content: space-between;
}
.header-nav nav ul {
    display: flex;
    list-style: none;
 
}

.header-nav nav ul li {
    margin-right: 10px;  
}

section {
    display: flex;
    min-height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

section h2 {
    width: 150px;
    flex-shrink: 0;
}

#about-me {
    height: 200px;
}


.vl {
    background-color: black;
    width: 4px;
    margin-left: 10px;
    margin-right: 10px;
    flex-shrink: 0;
}

.images {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.large-image-wrapper {
    border: 3px solid white;
    height: 500px;
    flex-grow: 1;
    position: relative;
}

.title {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: aquamarine;
    padding: 10px;
}

.large-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.small-images-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.small-images {
    border: 3px;
    flex-grow: 1;
    object-fit: contain;
    width: 30rem;
    position: relative;
}

.small-image {
 width: 100%;
}

h1,h2 {
    color:black;
    font-size: 45px;
}

.about-me {
    margin-left:125px;
}

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
}
li {
    list-style: none;
}
#contact-me {
    display: flex;
    align-items: center;
}